.not_responsive_static_layout {
  max-width: 1440px;
  margin: auto;
}

.header {
  display: flex;
  padding: 92px 49px 92px 51px;
}

.header__menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 209px;
}

.header__links-list {
  display: flex;
  gap: 32px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}

.header__links-list-item {
  list-style-type: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__logo {
  display: flex;
  justify-content: center;
  padding-right: 355px;
}

.header__logo-image {
  width: 148px;
  height: 105px;
  flex-shrink: 0;
}

.header__address {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 240px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24.3px;
}

.cover {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 1440px;
  min-height: 757px;
  flex-shrink: 0;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 0;
  margin-bottom: 180px;
}

.cover__title {
  display: flex;
  flex-direction: column;
  background-size: cover;
  padding: 165px 50px 123px 50px;
  color: #fff;
  font-family: Raleway;
  font-size: 100px;
  font-weight: 700;
  z-index: 1;
  gap: 7px;
  justify-content: center;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: #000;
  opacity: 0.6;
}

.aligned-text_center {
  text-align: center;
  justify-content: center;
}

.aligned-text_end {
  display: flex;
  justify-content: end;
  text-align: right;
}

.no-letter-spacing {
  letter-spacing: 30px;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.letter_o {
  letter-spacing: 0;
}

.cover__description {
  display: flex;
  justify-content: end;
  gap: 78px;
  z-index: 1;
}

.cover__description-text {
  color: #fff;
  padding-top: 12px;
  font-family: Raleway;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 18px;
}

button {
  background: none;
  border: none;
  padding: 0;
}

.bet-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin: 0 50px 50px 0;
  color: #fff;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  width: 257px;
  height: 52px;
  flex-shrink: 0;
  border: 1px solid #fff;
}

.button-text {
  text-decoration: none;
}

.lots {
  display: flex;
  width: 100%;
  flex-shrink: 0;
  padding: 0 50px;
  margin-right: 0%;
  flex-direction: column;
  padding-bottom: 180px;
}

.lots__heading {
  color: #000;
  font-family: Raleway;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: start;
  padding-left: 40px;
  padding-bottom: 27px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 430px;
  height: 450px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.card-link {
  text-decoration: none;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  color: #fff;
  font-family: Raleway;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
  z-index: 1;
  padding: 50px 40px 0 40px;
  text-decoration: underline;
}

.card__text {
  color: #fff;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  padding: 0 40px 50px 40px;
  z-index: 1;
}

.lots__card-list {
  display: flex;
  list-style: none;
  gap: 25px;
}

.lots__look-more-link {
  display: flex;
  max-width: 234px;
  color: #000;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 30px 0 2px 40px;
}

.about {
  display: grid;
  grid-template-columns: 430px 1fr;
  column-gap: 25px;
  padding: 0 50px 180px 50px;
}

.about__logo {
  padding: 63px 46px;
}

.logo-column {
  display: flex;
  width: 430px;
  padding: 0px 95px;
  justify-content: center;
  align-items: start;
  flex-shrink: 0;
}

.about__logo-image {
  width: 240px;
  height: 240px;
  flex-shrink: 0;
  background-color: #000;
  z-index: 1;
  border-radius: 50%;
}

.about__text {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.about__title {
  display: flex;
  color: #000;
  font-family: Raleway;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  padding-bottom: 100px;
  padding-top: 100px;
}

.about__block__text {
  display: flex;
  flex-direction: column;
}

.footer {
  display: flex;
  align-items: start;
  padding: 0 50px 90px 50px;
  max-width: 1440px;
}
.footer__menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  max-width: 149px;
}

.footer__links-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: center;
  font-size: 18px;
}

.footer__links-list-item_no-bullit {
  list-style: none;
}

.footer__address {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 240px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24.3px;
  margin-right: 365px;
}

.footer__social-list {
  display: flex;
  justify-content: space-between;
  width: 240px;
  list-style: none;
  margin-left: 346px;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}
