.header {
  display: flex;
  justify-content: space-between;
  width: 1340px;
  height: 109px;
  flex-shrink: 0;
  margin: 92px 49px 92px 51px;
}

.header__menu {
  

  list-style: circle;
}

.header__links-list {
  display: inline-flex;
  gap: 32px;
}

.header__links-list-item {
  color: #000;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

}

.header__links-list-item_no-bullit {
  list-style: none;
}